.newContainer{
    width: 320px;
}

.password_panel{
    top: 408px;
    position: absolute;
    width:100%;
    height:192px;
    left:0;
    background:rgba(255,255,255,1);
    border: unset;
    border-radius: 10px;
    z-index: 200;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.confirm-panel-title{
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
}

.confirm-panel-title p{
    margin-top: 15px;
    font-size:14px;
    font-family:'PingFang SC','SF Pro SC', 'Microsoft YaHei', 'Source Han Sans SC', sans-serif;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:14px;
    margin-left: 132px;
}

.confirm-panel-title img{
    width: 16px;
    height: 16px;
    margin-top: 14px;
    margin-left: 77px;
}

.scroll-field{
    height: 480px;
    width: 310px;
    margin-top: 60px;
}

.account_item{
    padding-left: 17px;
    padding-top: 16px;
    width:263px;
    height:56px;
    background:rgba(117,140,170,1);
    border-radius:10px;
    text-align: left;
    margin-bottom: 14px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.nickname{
    font-size:16px;
    font-family:'PingFang SC','SF Pro SC', 'Microsoft YaHei', 'Source Han Sans SC', sans-serif;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:16px;
}

.address{
    margin-top: 8px;
    font-size:12px;
    font-family:'PingFang SC','SF Pro SC', 'Microsoft YaHei', 'Source Han Sans SC', sans-serif;
    font-weight:400;
    color:rgba(162,190,220,1);
    line-height:16px;
}

.password_panel .input_container{
    margin-top: 48px;
    margin-bottom: 0;
}

.specialP{
    margin-left: 108px !important;
}

.extra-content{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.cover-bar{
    right: 10px;
}