
.tips{
    margin-top: 85px;
    margin-bottom: 24px;
}

.mnemonic_word{
    display: flex;
    flex-wrap:wrap;
}

.mnemonic_item{
    height:16px;
    padding: 8px 10px;
    width: auto;
    background:rgba(245,245,245,1);
    border-radius:5px;
    font-size:14px;
    font-family:'PingFang SC','SF Pro SC', 'Microsoft YaHei', 'Source Han Sans SC', sans-serif;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:16px;
    margin-right: 4px;
    margin-bottom: 13px;
}

.private-key p{
    font-size:14px;
    font-family:'PingFang SC','SF Pro SC', 'Microsoft YaHei', 'Source Han Sans SC', sans-serif;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:16px;
}

#continue{
    margin-top: 47px;
}